{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block content %}
<h1 class="text-center">About Us</h1><hr>
<div class="mx-auto w-75 bg-success  text-white p-3 my-5 border border-warning rounded">
    <p><b>Welcome to City Hospital</b> <br><br>
        At City Hospital, we are dedicated to providing exceptional healthcare services to our community. Our state-of-the-art facility, compassionate staff, and comprehensive range of medical services make us the leading healthcare provider in the region.
        <br><br>
       <b> Our Mission</b><br><br>
        To deliver high-quality, patient-centered care that improves the health and well-being of our community.
        <br><br>
        <b>Our Vision</b><br><br>
        To be the healthcare provider of choice, recognized for our excellence in clinical care, innovation, and patient satisfaction.
        <br><br>
        <b>Our Team</b><br><br>
        Our team of highly skilled and compassionate professionals is dedicated to providing the best care possible. From our board-certified physicians and experienced nurses to our supportive administrative staff, everyone at City Hospital is committed to your health and well-being.
        
</div>
{% endblock %}