{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<h1 class="text-center">Contact </h1><hr>
<div class="mx-auto w-50 bg-success  text-white p-3 my-5 border border-warning rounded">
    <p>
        <b>City Hospital</b>
        <br><br>
        123 Health St., Mediville, State, 12345
        <br><br>
        <b>Phone Numbers:</b><ul>
        
        <li>General Inquiries: (123) 456-7890</li>
        <li>Emergency: (911) or (123) 456-7891</li>
        <li>Appointments: (123) 456-7892</li>
        <li>Billing: (123) 456-7893</li></ul>
        <b>Email:</b><ul><br>
        
        <li>General Information: info@cityhospital.com</li>
        <li>Appointments: appointments@cityhospital.com</li>
        <li>Billing: billing@cityhospital.com </li></ul>
        <b>Operating Hours:</b><ul><br>
        
        <li>Monday - Friday: 8:00 AM - 8:00 PM</li>
        <li>Saturday: 9:00 AM - 5:00 PM</li>
        <li>Sunday: Closed </li></ul>
         </p>
        
</div>
{% endblock %}